* {
  box-sizing: border-box; }

main {
  padding: 0 10px; }
  main h1 {
    color: #3498db;
    text-align: center;
    margin: 5px; }
  main .search-field {
    width: 100%;
    border: solid 1px gray;
    height: 3em;
    padding: 5px;
    box-sizing: border-box;
    color: #34495e; }
  main ul.search-result {
    padding: 10px 0; }
    main ul.search-result li.company {
      list-style: none;
      margin: 10px 0; }
      main ul.search-result li.company h3 {
        font-size: 1em;
        color: #34495e; }
      main ul.search-result li.company p,
      main ul.search-result li.company h3 {
        margin: 0;
        padding: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
      main ul.search-result li.company .description {
        font-size: .8em;
        color: #7f8c8d; }
      main ul.search-result li.company .phone {
        color: #2980b9;
        margin-right: 12px; }
      main ul.search-result li.company img {
        width: 61px;
        height: 61px;
        float: left;
        margin-right: 10px;
        border-radius: 50%; }
