<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="pt" ng-app="myApp" class="no-js manifest="app.manifest" lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="pt" ng-app="myApp" class="no-js manifest="app.manifest" lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="pt" ng-app="myApp" class="no-js manifest="app.manifest" lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="pt" ng-app="myApp" class="no-js" manifest="app.manifest"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#2980b9">
  <title>Ourikas</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="http://www.ourikas.com/public/img/faveicon.png">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-app="myApp">

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <main ng-controller="SearchController">
    <header>
      <h1>Ourikas</h1>
      <input class="search-field" placeholder="buscar..." type="search" ng-model="searchTerm" autofocus>
    </header>

    <ul class="search-result">
      <li ng-repeat="c in searchResult" class="company">
        <img ng-src="{{c.thumb}}" alt="" />

        <h3 ng-bind="c.name"></h3>
        <p ng-bind="c.description" class="description"></p>
        <p>
          <a href="{{'tel:' + p}}" class="phone" ng-repeat="p in c.contact.phones" ng-bind="p"></a>
        </p>
      </li>
    </ul>
  </main>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
