$primary-color: #2980b9;

* {
  box-sizing: border-box;
}

main {
  margin: 0;

  header {
    background: $primary-color;
    padding: 5px 10px 20px 10px;

    h1 {
      color: white;
      text-align: center;
      margin: 3px;
    }

    .search-field {
      width: 100%;
      border: none;
      height: 3em;
      padding: 5px;
      box-sizing: border-box;
      color: #34495e;
      background-color: white;
      opacity: 0.6;
      transition-duration: .2s;

      &:focus {
        opacity: 1;
      }
    }
  }

  ul.search-result {
    padding: 10px;

    li.company {
      list-style: none;
      margin: 10px 0;
      clear: both;
      min-height: 61px;
      

      h3 {
        font-size: 1em;
        color: #34495e;
      }

      p,
      h3 {
        margin: 0;
        padding: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .description {
        font-size: .8em;
        color: #7f8c8d;
      }

      .phone {
        color: $primary-color;
        margin-right: 12px;
      }

      img {
        width: 61px;
        height: 61px;
        float: left;
        margin-right: 10px;
        border-radius: 50%;
      }
    }
  }

}
