@import "variables";

* {
  box-sizing: border-box;
}

body {
  background: $primary-color;
}

main {
  margin: 0;

  header {
    background: $primary-color;
    padding: 0 10px 25px 10px;
    transition-duration: .3s;

    h1 {
      color: $primary-color;
      position: relative;
      top: 2em;
      right: 7px;
      z-index: 10;
      text-align: right;
      margin: 3px;
      font-size: .8em;
      font-weight: normal;
      display: inline-block;
      float: right;
      transform: rotate(-90deg) translate(-11px, 21px);
      transition-duration: .5s;
    }

    .search-field {
      width: 100%;
      border: none;
      height: 3em;
      padding: 5px;
      box-sizing: border-box;
      color: #34495e;
      background-color: white;
      opacity: 0.6;
      transition-duration: .2s;

      &:focus {
        opacity: 1;
      }
    }

    &.full-page {
      min-height: 100vh;
      padding-top: 40px;
      padding-top: 30%;

       h1 {
         font-size: 3em;
         font-weight: bold;
         top: 0;
         right: 0;
         text-align: center;
         color: white;
         margin: 13px 0;
         width: 100%;
         transform: none;
       }
    }
  }
}
